body {
    margin: 0;
    padding: 0;
}

#h1 {
    text-align: center;
}


#logo {
    height: 95px;
    text-align: center;
    padding: 0%;
    margin: 0;
}


#nav {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.261), rgba(255, 255, 255, 0.001));
    color: #ffffff;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-size: 25px;
    
}

#wallpaper {
    margin: 0;
    padding: 0;
}

#div1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
    background: linear-gradient(180deg,#306073, white);
}

#texto1 {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #ffffff;
    width: 50%;
}

#div2 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
}

#texto2 {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #000000;
    width: 50%;
}

#div3 {
    text-align: center;
}

#short {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    background: linear-gradient(180deg,white, #306073);
}

#texto4 {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #ffffff;
    width: 70%;
}

#texto5 {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #ffffff;
    width: 50%;
}

#video_anyma {
    padding: 0;
    margin: 0;
    display: flex;
}

#footer {
    padding: 0;
    margin: 0;
    text-align: right;
    height: 35px;
    background-color: #0000003c;
}

#rrss {
    padding-top: 30px;
    padding-right: 30px;
}



